<div class="d-flex flex-column wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" style="color:rgb(45, 119, 185);" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>Game Mania
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link active" href="todososprodutos.html">Todos os produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="computadores.html">Computadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="acessorios.html">Acessórios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="jogos.html">Jogos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="suporte.html">Suporte</a>
          </li>
        </ul>
        <div class="align-self-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="cadastro.html" class="nav-link text-white">Cadastrar-se</a>
            </li>
            <li class="nav-item">
              <a href="login.html" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor"
                  class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a href="carrinho.html" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                  class="bi bi-cart-fill" viewBox="0 0 16 16">
                  <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  
  <div id="carouselMain" class="carousel slide carousel-light" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4500">
        <img src="../assets/img/Banner01.svg" class="d-none d-md-block w-100" alt="">
        <img src="img/Banner01.svg" class="d-block d-md-none  w-100" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="img/Banner02.1.svg" class="d-none d-md-block w-100" alt="">
        <img src="img/Banner02.1.svg" class="d-block d-md-none  w-100" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  <hr class="mt-3">


  <main class="flex-fill">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5">
          <form class="justify-content-center justify-content-md-start mb-3 mb-md-0">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Digite aqui o que procura">
              <button class="btn btn-danger">Buscar</button>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-7">
          <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
            <form class="d-inline-block">
              <select class="form-select form-select-sm">
                <option>Ordenar pelo nome</option>
                <option>Ordenar pelo menor preço</option>
                <option>Ordenar pelo maior preço</option>
              </select>
            </form>
            <nav class="d-inline-block me-3">
              <ul class="pagination pagination-sm my-0">
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">6</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      

      <hr mt-3>

      <div class="row g-3">
        <div class="produtos-title">
          <h2>Produtos populares</h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">           
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <a href="produto.html">
              <img src="img/PC_Compras.svg" class="card-img-top">
            </a>
            <div class="card-header">
              R$ 3.00,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Notebook Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">112 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Gabinete_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 700,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Gabinete Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">320 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Headset_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 200,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Headset</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-light disabled mt-2 d-block">
                <small>Reabastecendo Estoque</small>
              </a>
              <small class="text-danger">
                <b>Produto Esgotado</b>
              </small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart-fill" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Jogo_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 90,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Jogo Crysis 3</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">50 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Teclado_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 700,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Teclado Mecânico</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">32 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Gabinete_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 700,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Gabinete Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">30 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/PC_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 3.000,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Notebook Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">112 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart-fill" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Jogo_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 90,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Jogo Crysis 3</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">50 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart-fill" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Headset_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 200,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Headset Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">50 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Teclado_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 700,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Teclado Mecânico</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">32 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/Gabinete_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 700,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Gabinete Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">320 em estoque</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card text-center bg-light">
            <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
            </a>
            <img src="img/PC_Compras.svg" class="card-img-top">
            <div class="card-header">
              R$ 3.000,00
            </div>
            <div class="card-body">
              <h5 class="card-title">Notebook Gamer</h5>
              <p class="card-text truncar-3l">
                Pellentesque commodo luctus ante, et suscipit quam consequat ut. Maecenas laoreet nec nunc lacinia
                dictum.
              </p>
            </div>
            <div class="card-footer">
              <a href="carrinho.html" class="btn btn-dark mt-2 d-block">
                Adicionar ao Carrinho
              </a>
              <small class="text-success">112 em estoque</small>
            </div>
       
   <hr class="mt-3">

  <section class="formulario">
    <div class="container">
    <h5>Receba informações de novos produtos e promoções!</h5>

          <form action="#" method="post">
          <label form="name">Nome</label>
          <input type="text" name="name" id="name">

          <label for="email">Email</label>
          <input type="email" name="email" id="email">

          <label> <input type="checkbox" name="produto" value="1">Desejo receber apenas notificações de promoções</label>
          <label> <input type="checkbox" name="produtos" value="1">Desejo receber todas as atualizações de produtos no site</label>

          <input type="submit" class="button-default button-default-small" value="Enviar">
      </form>
    </div>
  </section>

<footer class="border-top text-white bg-dark">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-4 text-center">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
          viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>Rua Virtual Inexistente, 345, Santana/AP<br>
        CNPJ 99.999.999/0001-99

        <ul class="ul-icons">
          <li><i class="fab fa-facebook"></i></li>
          <li><i class="fab fa-whatsapp"></i></li>
          <li><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 text-center">
        <a href="privacidade.html" class="text-decoration-none text-white">
          Políticas de Privacidade
        </a><br>
        <a href="termos.html" class="text-decoration-none text-white">
          Termos de Uso
        </a><br>
        <a href="quemsomos.html" class="text-decoration-none text-white">
          Quem Somos
        </a><br>
        <a href="trocas.html" class="text-decoration-none text-white">
          Trocas e Devoluções
        </a>
      </div>
      <div class="col-12 col-md-4 text-center">
        <a href="contato.html" class="text-decoration-none text-white">
          Contato
        </a><br>
        E-mail:<a href="gamemania@gmail.com" class="text-decoration-none text-white">
          gamemania@gmail.com
        </a><br>
        Telefone:<a href="prone:9999999999" class="text-decoration-none text-white">
          (99) 99999-9999
        </a>
      </div>
    </div>
  </div>
  <div class="row text-muted">
    <div class="container-fluid" style="text-align: center;">
      <div class="copyright"> &copy Game Mania 2022 | All Rights Reserved by TRIEDGE Ltd.</div>
    </div>
  </div>
</footer>
</div>
      

<router-outlet></router-outlet>
